

    /* CSS to set the background image */
    body {
        margin: 0;
        padding: 0;
        background-image:("nestyou.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 44px;
        font-family: 'Times New Roman', Times, serif;
        
    }